@model SchedulerV4.Models.SotrudnikEntity

@{
    ViewData["Title"] = "Edit Sotrudnik";
}

<h1>Изменение сотрудника номер @Model.ID_SOTR</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ID_SOTR" />
    <div class="form-group">
        <label asp-for="FIRSTNAME">Фамилия</label>
        <input asp-for="FIRSTNAME" class="form-control" required maxlength="30" />
        <span asp-validation-for="FIRSTNAME" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MIDDLENAME">Имя</label>
        <input asp-for="MIDDLENAME" class="form-control" required maxlength="20" />
        <span asp-validation-for="MIDDLENAME" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LASTNAME">Отчество</label>
        <input asp-for="LASTNAME" class="form-control" required maxlength="30" />
        <span asp-validation-for="LASTNAME" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TAB_NO">Табельный номер</label>
        <input asp-for="TAB_NO" class="form-control" required maxlength="10" />
        <span asp-validation-for="TAB_NO" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SEX">Пол</label>
        <select asp-for="SEX" class="form-control" required>
            <option value="">-- Выберите пол --</option>
            <option value="М">М</option>
            <option value="Ж">Ж</option>
        </select>
        <span asp-validation-for="SEX" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BIRTHDAY">Дата рождения</label>
        <input asp-for="BIRTHDAY" class="form-control" type="date" required />
        <span asp-validation-for="BIRTHDAY" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VUZ">Оконченный ВУЗ</label>
        <input asp-for="VUZ" class="form-control" required maxlength="15" />
        <span asp-validation-for="VUZ" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RANG">Ранг</label>
        <input asp-for="RANG" class="form-control" required maxlength="10" />
        <span asp-validation-for="RANG" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DEGREE">Уч. степень</label>
        <input asp-for="DEGREE" class="form-control" required maxlength="1" />
        <span asp-validation-for="DEGREE" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SCIENCE">Наука</label>
        <input asp-for="SCIENCE" class="form-control" required maxlength="10" />
        <span asp-validation-for="SCIENCE" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="DEKAN" value="Д" id="DEKAN"
        @(Model.DEKAN == 'Д' ? "checked" : "") />
        <label class="form-check-label" for="DEKAN">Является деканом</label>
    </div>

    <div class="form-group">
        <label asp-for="CAF_ID">Кафедра</label>
        <input asp-for="CAF_ID" class="form-control" required />
        <span asp-validation-for="CAF_ID" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Сохранить</button>
</form>
